  @font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

 body {
  font-family: 'NanumSquareNeo-Variable';
 }


.company {
  font-size: 30px;
  font-weight: 700;
}

/* .con-center {
  display: flex;
  align-items: center;
} */

.rc {
  position: relative;;
  display: flex;
  justify-content: center;
}

.ct2 {
  color: rgb(69, 156, 255);
  font-weight: 700;
}